/* Document */

body {
    font-family: Verdana,Geneva,sans-serif;
    line-height: 1.25;
    margin: 1%;
    background-color: #EFEFEF;
    font-size: 0.85em;
    margin-right: 20%;
    margin-left: 20%;
}
h1 { font-size: 2em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; margin: 10px 0; }
h1, h2, h3 { font-weight: bold; margin: 5px 0; }

p { margin: 10px 0; }
ul { padding-left: 10px; margin: 10px 0; list-style-type: disc; }
li { margin-left: 10px; margin-top: 10px; padding-left: 10px; }
strong { font-weight: bold; }
em { font-style: italic; font-weight: 500; }
em.term { font-weight: 600; }
pre { padding-top: 10px; background-color: #FFFFFF; }
pre, tt { color: #454E53; font-weight: bold; font-size: .9em; }
a { color: #B87333; }
#content, .note, #navbar { padding: 10px 1em; margin: 5px; }
#header { float: right; }
#content { background-color: #FFFFFF; }
.note {
	font-style: italic;
	background-color: #FFFFFF;
}
#navbar a {
	color: #000000;
	text-decoration: none;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1.3em;
}
#navbar ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}
#navbar li {
    display: block;
    float: left;
}
[class*='col-'] {
	float: left;
}
