/* Document */

body { font-family: Verdana,Geneva,sans-serif; line-height: 1.2; margin: 1%; background-color: #F3EFE8 }
h1 { font-size: 2em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; margin: 10px 0; }
h1, h2 { font-weight: bold; margin: 5px 0; }
h1, h2, h3 { background-color: #DFDCD0; }
p { margin: 10px 0; }
ul { padding-left: 10px; margin: 10px 0; list-style-type: disc; }
li { margin-left: 10px; padding-left: 10px; }
nav li { margin-bottom: 0.5%; }
strong { font-weight: bold; }
em { font-style: italic; }
pre { padding-top: 10px; background-color: #FFFFFF; }
code, pre { color: #454E53; font-weight: bold; font-size: .8em; }
a { color: #B87333; }
header, article, aside, footer { padding: 10px 1em; margin: 0 5% 10px; }
header { margin-top: 10px; }
aside { font-style: italic; background-color: #FFFFFF; }